body {
  font-family: sans-serif;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

a {
  color: #0f80ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.navigation {
  font-weight: bold;
}

.navigation .between::after {
  content: "—";
  padding-right: 10pt;
}

.navigation .link {
  padding-right: 10pt;
}
